@media only screen and (min-width: 679px) {
	#banner {
		font-size: xx-large;
	}
}

@media only screen and (min-width: 679px)
{
	.dropdown {
		position: relative;
		display: none;
	}

	#header-links {
		/* margin-left: 10em; */
		display: flex;
		justify-content: flex-end;
	}
}

@media only screen and (max-width: 680px)
{
	#header-links {
		display: none;
	}
	#banner {
		font-size: x-large;
	}
	.dropdown {
		position: relative;
		display: inline-block;
		padding: 2%;
		margin-right: 1rem;
	}
	.dropbtn {
		background-color: transparent;
		color: #333;
		font-size: 36px;
		border: none;
		cursor: pointer;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #fff;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px black;
		z-index: 1;
		right: 0;
	}
	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		display: block;
	}
	.dropdown-content a:hover {
		background-color: #ddd;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
	.dropdown:hover .dropbtn {
		font-size: 38px;
	}
}

body {
	background-color: cadetblue;
	width: 100%;
}
hr {
	margin-top: 5vh;
	margin-bottom: 5vh;
}
a:hover {
	text-decoration: none;
	font-size: medium;
	color: #333;
}
a {
	text-decoration: none;
}
.row {
	display: block;
}

#header{
	height: auto;
	width: 100%;
	background-color: transparent;
	position: absolute;
	z-index: 1;
	margin: auto;
	padding: 2%;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}

#img1 {
	height: 75vh;
	width: 100%;
	background-image: url("img/high-tech-2.jpg");
	background-size: cover;
	padding: 2%;
}

#banner {
	font-family: serif;
	font-style: oblique;
	font-weight: bolder;
	text-shadow: 2px 2px 4px #fff;
	color: #444;
}

#banner:hover, #banner:visited {
	text-decoration: none;
}

#credits {
	display: flex;
	justify-content: space-between;
}

.credits-section {
	font-size: small;
	font-family: monospace;
	color: #333;
	padding: 2%;
	text-decoration: none;
	list-style: none;
	border: 1px solid black;
	text-align: center;
}

.a-credits, .a-credits:visited {
	text-decoration: none;
	color: black;
	font-size: small;
}

#header-links {
	width: 100%;
	height: auto;
}

.header-link {
	padding: 1%;
	width: auto;
	border-radius: 10%;
	color: #222;
	margin-left: 2%;
	height: auto;
	margin-right: 2%;
	box-shadow: 2px 2px #333;
	text-align: center;
}

.header-link:hover {
	box-shadow: 4px 4px #333;
	padding: 3%;
}

.content {
	padding: 2%;
	margin-top:2vh;
}

#footer {
	border: 1px solid black;
	/* margin-top: 15vh; */
	padding: 2%;
	height: auto;
	justify-content: center;
	background-color: aliceblue;
}

#icons-list {
	margin: 1rem;
}

#hero-icons {
	text-align: center;
}