@media only screen and (min-width: 679px) {
	#banner {
		font-size: xx-large;
	}
}

@media only screen and (min-width: 679px)
{
	.dropdown {
		position: relative;
		display: none;
	}

	#header-links {
		/* margin-left: 10em; */
		display: flex;
		justify-content: flex-end;
	}
}

@media only screen and (max-width: 680px)
{
	#header-links {
		display: none;
	}
	#banner {
		font-size: x-large;
	}
	.dropdown {
		position: relative;
		display: inline-block;
		padding: 2%;
		margin-right: 1rem;
	}
	.dropbtn {
		background-color: transparent;
		color: #333;
		font-size: 36px;
		border: none;
		cursor: pointer;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #fff;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px black;
		z-index: 1;
		right: 0;
	}
	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		display: block;
	}
	.dropdown-content a:hover {
		background-color: #ddd;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
	.dropdown:hover .dropbtn {
		font-size: 38px;
	}
}

body {
	background: linear-gradient(145deg, aliceblue, cadetblue);
	/* background-color: cadetblue; */
	width: 100%;
}
hr {
	margin-top: 5vh;
	margin-bottom: 5vh;
}
a:hover {
	text-decoration: none;
	font-size: medium;
	color: #333;
}
a {
	text-decoration: none;
}

#animation {
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.action {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

a.mod {
	color: aliceblue;
}

#call-to-action {
	display: flex;
	align-self: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	margin-top: -3em
}

.button-text {
	font-size: large;
	font-weight: bold;
	align-self: center;
	text-align: center;
	vertical-align: bottom;
}

#header{
	height: auto;
	width: 100%;
	background-color: transparent;
	/* position: absolute; */
	position: fixed;
	z-index: 1;
	margin: auto;
	padding: 2%;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}

#img1 {
	height: 75vh;
	width: 100%;
	background-image: url("img/high-tech-2.jpg");
	background-size: cover;
	padding: 2%;
}

#img2 {
	height: 75vh;
	width: 100%;
	background-image: url("img/office.jpeg");
	background-size: cover;
	margin-bottom: 0%;
	padding: 2%;
}

#banner {
	font-family: serif;
	font-style: oblique;
	font-weight: bolder;
	text-shadow: 2px 2px 4px #fff;
	color: #444;
}

#banner:hover, #banner:visited {
	text-decoration: none;
}

#credits {
	display: flex;
	justify-content: space-between;
}

.credits-section {
	font-size: small;
	font-family: monospace;
	color: #333;
	padding: 2%;
	text-decoration: none;
	list-style: none;
	border: 1px solid black;
	text-align: center;
}

.a-credits, .a-credits:visited {
	text-decoration: none;
	color: black;
	font-size: small;
}

#header-links {
	width: 100%;
	height: auto;
	margin-top: 1vh;
	margin-right: 1.5rem;
}

.header-link {
	padding: 1%;
	width: auto;
	border-radius: 10%;
	color: #222;
	margin-left: 1%;
	height: auto;
	margin-right: 1em;
	box-shadow: 2px 2px #333;
	text-align: center;
	font-weight: 500;
}

.header-link:hover {
	box-shadow: 4px 4px #333;
	/* padding: 1.2%; */
	transform: scale(1.2);
}

.content {
	padding: 10%;
	/* margin-top:2vh; */
}

#footer {
	/* border: 1px solid black; */
	/* margin-top: 15vh; */
	padding: 2%;
	height: auto;
	justify-content: center;
	background-color: aliceblue;
}

#icons-list {
	display: block;
	justify-content: baseline;
	margin: 2rem;
	width: 2em;
	height: 2em;
}

.ico {
	display: block;
	justify-content: baseline;
	margin: 0.5rem;
	width: 2em;
	height: 2em;
}

#hero-icons {
	text-align: center;
}

/* ----------------------------------- */

/* html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
} */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}